*{
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono", serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: #252525;
    padding: 10px;
}

.todo {
    width: 100%;
    max-width: 34rem;
    background: #FFF;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 5px;
}

.todo h2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    padding-left: 20px;
    background: #E7E7E7;
    margin-bottom: 20px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #2986cc;
    color: #FFF;
    font-size: 17px;
    cursor: pointer;
    border-radius: 30px;
}

ul li {
    list-style: none;
    font-size: 20px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 27px;
    width: 27px;
    background-image: url(assets/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(assets/check.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #F2F2F2;
}

@media (max-width: 768px) {
    .todo {
        width: 90%;
        padding: 20px;
    }

    button {
        padding: 12px 30px;
        font-size: 15px;
        width: 100%;
    }

    ul li {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .row {
        flex-direction: column;
        padding-left: 1px;
    }

    input {
        width: 100%;
        padding: 12px;
    }

    button {
        width: 100%;
        margin-top: 10px;
    }
}

